swiper {
    height: 300px;
    width: 100%;

    .sfondo1{
      background-image: url('../assets/pearl.png');
    }
    .sfondo2{
      background-image: url('../assets/fracture.png');
    }
    .sfondo3{
      background-image: url('../assets/breeze.png');
    }
    .sfondo4{
      background-image: url('../assets/icebox.png');
    }
    .sfondo5{
      background-image: url('../assets/bind.png');
    }
    .sfondo6{
      background-image: url('../assets/haven.png');
    }
    .sfondo7{
      background-image: url('../assets/split.png');
    }
    .sfondo8{
      background-image: url('../assets/ascent.png');
    }

  }

