<swiper [config]="config" >
  <div class="swiper-wrapper text-white">
    <div class="swiper-slide bg-cover sfondo1">Pearl</div>
    <div class="swiper-slide bg-cover sfondo2">Fracture</div>
    <div class="swiper-slide bg-cover sfondo3">Breeze</div>
    <div class="swiper-slide bg-cover sfondo4">Icebox</div>
    <div class="swiper-slide bg-cover sfondo5">Bind</div>
    <div class="swiper-slide bg-cover sfondo6">Haven</div>
    <div class="swiper-slide bg-cover sfondo7">Split</div>
    <div class="swiper-slide bg-cover sfondo8">Ascent</div>>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>